<div class="col-md-4">

<h1> <%= @article.name %> </h1>
<p> <%= @article.description %></p>
<p class="pull-right">
  <%= @article.price %> €
  <%= link_to '#', :class => "btn btn-primary cart-btn" do %>
    <i class="glyphicon glyphicon-shopping-cart"></i>
  <% end %>
</p>
 </div>
