@import "bootstrap-sprockets";
@import "bootstrap";
.articles {
   list-style: none;
   margin: 0;
   li {
     overflow: auto;
     padding: 10px 0;
     border-bottom: 1px solid $gray-lighter;
   }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.cart-btn {
  margin-left: 5px;
}

.center-div {
  float: none;
  margin: 0 auto;
}

.category-btns {
  margin-bottom: 40px;
}

.food-img {
  float: left;
  margin: 10px;
}
